.wrapper {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #fff;
    position: relative;
}

section {
    height: 100vh;
    font-size: 40px;
    font-weight: 300;
    display: flex;
    padding-left: 45rem;
    padding-right: 44rem;
    justify-content: center;
    align-items: center;

    @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
            @if ($i % 2 == 1) {
                background: #242424; // #242424 for odd
            } @else {
                background: #121212; // #121212 for even
            }
        }
    }
}

.nav {
    &-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: white;
        z-index: 1000;
        border-bottom: 2px solid;
        border-top: 0;
        border-style: solid;
        border-image: linear-gradient(to right, rgba(18, 18, 18, 0) 23%, #eee 50%, rgba(18, 18, 18, 0) 77%) 100% 1;
        padding: 10px;
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        display: flex;

        a {
            color: white;
            padding: 0 2rem;
            text-decoration: none;
        }

        a:hover {
            color: #5dd4f6;
        }
    }

    &__wrapper {
        position: fixed;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
    }

    & {
        margin: 0 0 100px 30px;
    }
    &__counter {
        font-size: 24px;
        transition: all 0.15s ease-out;
    }
    &__title {
        font-size: px;
        font-weight: 300;
        margin: 0 0 0.25em;
        width: 300px;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: height 0.3s ease-out, opacity 0.2s ease-out;
    }
    &__body {
        font-weight: 300;
        font-size: 18px;
        width: 300px;
        height: 0;
        overflow: hidden;
        opacity: 1;
        transition: height 0.3s ease-out, opacity 0.2s ease-out;
    }

    li {
        position: relative;
        transition: all 0.3s ease-out;
        margin-bottom: 1em;

        &:after {
            content: '';
            display: block;
            border-left: 2px solid white;
            border-top: 2px solid white;
            height: 250px;
            width: 20px;
            position: absolute;
            left: -30px;
            top: 15px;
        }

        a {
            display: block;
            padding: 0;
            color: #fff;
            transition: all 0.15s ease-out;

            &:hover {
                background-color: transparent;
                padding-left: 1em;
            }
            &:focus {
                background-color: transparent;
            }
        }

        &.active {
            pointer-events: none;
            padding-left: 1em;

            &:after {
                width: 35px;
                height: 400px;
                top: 35px;
            }

            .nav__counter {
                font-size: 48px;
                color: #5dd4f6;
            }
            .nav__title {
                height: 36px;
                opacity: 1;
                overflow: visible;
                color: #5dd4f6;
            }
            .nav__body {
                height: 100px;
                opacity: 1;
                overflow: visible;
            }
        }
    }
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: transparent;
  color: #ffffff; /* Text color */
  padding: 10px; /* Adjust padding as needed */
  margin-right: 0.25rem;
}
